
.resultContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 2.5rem;
}

.winText {
  color: white;
  font-size: 2.5rem;
  font-family: 'Rum Raisin', serif;
}

.mobileWinText {
  color: white;
  font-size: 1.5rem;
  font-family: 'Rum Raisin', serif;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App {
  background-image: url(./assets/background.png);
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex: 1;
}

.newGameBtnContainer {
  display: flex;
  flex: 1;
  align-items: center;
}

.mobileNewGameBtnContainer {
  display: flex;
  flex: 0.5;
  align-items: center;
}

.newGameBtn {
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #00bfff;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  font-family: 'Rum Raisin', serif;
}

.newGameBtn:hover {background-color: #0080ff}

.newGameBtn:active {
  background-color: #6bebeb;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.mobileNewGameBtn {
  padding: 10px 10px;
  font-size: 12px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #00bfff;
  border: none;
  border-radius: 12px;
  box-shadow: 0 4px #999;
  font-family: 'Rum Raisin', serif;
}

.mobileNewGameBtn:hover {background-color: #0080ff}

.mobileNewGameBtn:active {
  background-color: #6bebeb;
  box-shadow: 0 2px #666;
  transform: translateY(4px);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
